@charset "utf-8";

/* COMMON */

html, body{
	background-color:#243133;
	margin:0;
	padding:0;
	font-family:Verdana, Geneva, sans-serif;
	font-size:1em;
}

img{
	border:none;
}

#wrapper{
	width:980px;
	margin:0 auto 0 auto;
}

#header{
	padding:10px;
	background:#5e6c70;
	color:#bd9800;
}
#header h1{
	font-size:1.85em;
	margin:0;
}
#header h2{
  padding-left:2px;
	font-size:0.70em;	
	margin:0;
}

#menu{
	background:#5e6c70;
	padding:0 0 7px 0;
	color:#bd9800;
}
#menu ul{
	padding-left:10px;
	display:inline;
}
#menu ul li{
	display:inline;
	font-size:0.7em;
}
#menu a{
	color:#DEDEDE;	
	text-decoration:none;
}
#menu a:hover{
	color:#FFFFFF;
	text-decoration:underline;
}

#error{
  color:#3B0B0B;
  font-weight:bold;
}

#content{
  min-height:400px;
	padding:20px;
	margin:0;
	font-size:0.7em;
}

#footer{
	margin-top:20px;
	font-size:0.6em;
	text-align:center;
	color:#5e6c70;
}
#footer a{
	color:#bd9800;
	text-decoration:none;
}
#footer a:hover{
	color:#ffffff;
	text-decoration:underline;
}

a{
	color:#111;	
	text-decoration:none;
}
a:hover{
	color:#333;
	text-decoration:underline;
}

.clearfloats{
	clear:both;
}

/* FORM */

fieldset {
  width:30%;
  margin:4em auto;
  padding:1em;
}
legend{
  text-align:center;
}
label{
  float:left;
  height:1.6em;
  width:6em;
  margin-right:0.5em;
  padding-top:0.4em;
  text-align:right;
}
input{
  height:1.3em;
}
#submit{
  height:2.3em;
  margin-top:1em;
}
















